@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --title-color: #181818;
  --text-color: #4d4d4d;
  --bg-color: #ffff;
  --a-color: #ebaee6;
  --b-color: #fff6a3;
  --c-color: #b5d5ff;
  --d-color: #c7b3ff;
  --e-color: #ffc380;
  --f-color: #adf38a;
}

* {
  margin: 0;
  padding: 0;
  color: var(--title-color);
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
}
